In [19]:
# этот ноутбук относится к лабе 2.2.6

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

radius = 3
# import matplotlib.colors as mcolors
# print(mcolors.CSS4_COLORS.keys())
# for i in range(10):
#   plt.scatter(i, (i + 2) % 3,marker=(6,1, i*40), linewidths=2, s=1000, color='deeppink')

# plt.scatter(range(len(f_res)),  f_res, marker='$хуй$', linewidths=0.1)

микроскоп -- https://vostok-7.ru/catalog/mikroskopy_otschyetnye_po_brinellyu/mpb_3_mikroskop_otschyetnyy_brinell/

расстояние между рисками -- 10.0, 9.8

In [2]:
d = np.array((2.2, 2.1, 0.8, 0.7, 1.9, 2.1, 0.75, 0.85, 2, 2.1, 0.85, 0.7,
2.1, 2.0, 0.9, 0.7, 2.1, 2.0, 0.8, 0.75, 2.0, 0.6, 0.6, 2.0)) # мм

In [3]:
# v ~ r*r/eta ~ 1/t
#temp = 22.30
t = (33.81, 35.66, 38.99, 43.63, 33.85) # с
#temp = 30.40                          30.90
t2 = (26.63, -1, 26.05, 19.6, 17.8, 23.93, 22.26) # с
#   temp:      40.92         40.85  40.80
t3 = (10.91, 10.35, 11.81, 16.20)
#   temp:      50.93 50.97  50.89
t4 = (6.95, 6.33,  7.60,  7.70)
#   temp:60.93     60.79 
t5 = (3.20,  7.63, 6.20, 2.80)

In [4]:
temp = (22.30, 22.30, 22.30, 22.30, 22.30,
30.40, 30.40, 30.40, 30.40, 30.40, 30.90, 30.90,
40.92, 40.92, 40.85, 40.80,
50.93, 50.97, 50.89, 50.89,
60.93, 60.93, 60.79, 60.79)

In [18]:
a = pd.DataFrame()
a['diametr'] = d
a['time'] = t + t2 + t3 + t4 + t5
a['temp'] = temp
a = a.drop(labels=6)
a['rho'] = a['temp'] / 2500 + 317/250 
a['v'] = 10 / a['time']
a['Re'] = a['v'] * radius * a['rho']
a['Nu'] = 2 * 9.81 * radius ** 2 / 9 * ()

    diametr   time   temp      Re
0      2.20  33.81  22.30   44.60
1      2.10  35.66  22.30   44.60
2      0.80  38.99  22.30   44.60
3      0.70  43.63  22.30   44.60
4      1.90  33.85  22.30   44.60
5      2.10  26.63  30.40   60.80
7      0.85  26.05  30.40   60.80
8      2.00  19.60  30.40   60.80
9      2.10  17.80  30.40   60.80
10     0.85  23.93  30.90   61.80
11     0.70  22.26  30.90   61.80
12     2.10  10.91  40.92   81.84
13     2.00  10.35  40.92   81.84
14     0.90  11.81  40.85   81.70
15     0.70  16.20  40.80   81.60
16     2.10   6.95  50.93  101.86
17     2.00   6.33  50.97  101.94
18     0.80   7.60  50.89  101.78
19     0.75   7.70  50.89  101.78
20     2.00   3.20  60.93  121.86
21     0.60   7.63  60.93  121.86
22     0.60   6.20  60.79  121.58
23     2.00   2.80  60.79  121.58

In [9]:
ox = np.arange(len(i))
oy = i
plt.scatter(
  ox,  # ординаты точек
  oy,  # абсциссы точек
  s=1,
  label="L(n), f = " + str(f[index]) + "kHz"
)

if (len(i) == 2):
  print (oy[1] - oy[0])
else :
  z1, res= np.polyfit(ox, oy, 1, full=False, cov=True)
  p1 = np.poly1d(z1)
  plt.plot(ox, p1(ox), linewidth=0.7, color='red', linestyle='--')


  # plt.xticks(np.around(ox[::20]))
  # plt.yticks(np.around(oy[::20]))
  print(str(f[index]), str(p1), "eror:", (res[0][0] ** 0.5)/((z1[0])**2))
plt.legend(loc='best')
plt.show()

NameError: name 'i' is not defined