In [1]:
# этот ноутбук относится к лабе 3.4.5
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pyperclip import copy as cp

In [12]:
Ri = 20*10**3
Ci = 20*10**-6
R0 = 0.22
w = 50

In [89]:
data = pd.DataFrame()
data['N0'] = [15, 45, 20]
data['Nu'] = [300, 400, 200]
data['S']  = [0.66, 3, 2]
data['S']  = data['S'] * 10**-4
data['2pr']= [14.1, 25, 11]
data['2pr']= data['2pr'] * 10**-4
data['i']  = [0.229, 0.9377, 1.2978]
data = data.T
data.rename(columns={0: 'p', 1:'f', 2:'k'}, inplace=True)
data

              p         f         k
N0    15.000000   45.0000   20.0000
Nu   300.000000  400.0000  200.0000
S      0.000066    0.0003    0.0002
2pr    0.001410    0.0025    0.0011
i      0.229000    0.9377    1.2978

In [91]:
data.loc['H'] = data.loc['i'] * data.loc['N0'] / data.loc['2pr']
data.loc['H']

p     2436.170213
f    16878.600000
k    23596.363636
Name: H, dtype: float64

## Пермаллой
$K_x = 20, K_y=50$

In [61]:
# пермаллой, в больших клетках
x = pd.DataFrame(
  [3,  2,   1.6,   1, ]
)
y = pd.DataFrame(
  [1.7, 1.6, 1.2, 1.2]
)

In [ ]:
# феррит, в больших клетках
kx= pd.DataFrame(
  [0.05, 0.05, 0.05, 0.01, ..., 0.005]
)
x = pd.DataFrame(
  [4,  3,   2,    1,   2,    1,   0.4, 0.8]
)
y = pd.DataFrame(
  [2.8, 2.7, 2.5, 2.2, 1.85, 1.2, 0.8, 0.6]
)

In [ ]:
# кремнистое железо, в больших клетках
x = [3,   2.3, 1.8, 1.0, 0.9, 0.6, 0.50, 0.3]
y = [2.5, 3.0, 2.6, 1.8, 1.5, 1.0, 0.95, 0.3]

# II второй пункт

In [ ]:
kx = [0.05,  0.02,  0.01,  0.005, 0.1, ]
i  = [0.954, 0.365, 0.189, 0.092, 1.890, ] # A

#  Y: Ky=0.02, V = 0.0551, занимает весь экран
ky = [0.02,   0.05,   0.01,  ]
v  = [0.0550, 0.1366, 0.0260] # V

true_kx = R0 * 1.414213 * pd.DataFrame(i) / 5
true_kx.index=kx
print(true_kx.to_latex())
true_ky = 1.414213 * pd.DataFrame(v) / 4
true_ky.index=ky
print(true_ky.to_latex())

# III третий пункт

In [46]:
6 * true_ky[0][0.01]

0.055154307

In [45]:
# 2y = весь экран, Ky=1. переключаем:  2y=6/8 клеток, ky=0.010
tau = 8 * 1 / (w *2*np.pi* 6 * true_ky[0][0.01])
print(tau)
Ri * Ci

0.46170085855132326

0.39999999999999997

In [ ]:
# график пункт 1

# график
ox = a['v']
oy = a['i']

plt.scatter(
  ox,
  oy,
  s=10,
  label="ВАХ разряда"
)
 # индекс, на котором наклон максимальный
r = np.argmax(np.diff(a['i']) / np.diff(a['v']))
coefs = np.polyfit((a['v'][r], a['v'][r+1]), (a['i'][r], a['i'][r+1]), 1)
poly = np.poly1d(coefs)
plt.plot(ox, poly(ox), 'r-', linewidth=0.5, label="Максимальное R")
print(r, f"R_max coefs:  {poly}" )


z1, res= np.polyfit(ox, oy, 1, full=False, cov=True)
p1 = np.poly1d(z1)
plt.plot(ox, p1(ox), linewidth=0.4, color='green', linestyle='-', label='В тупую')
# print(str(p1), "eror:", res[0][0] ** 0.5/((z1[0])**2))
plt.xlabel("V, V")
plt.ylabel("I, мА")
plt.grid()
plt.ylim(bottom=1.4, top=4.5)
plt.legend(loc='best')
plt.savefig("p1.png")
plt.show()